<% include ./partials/header %>
<div class="ui main text container segment">
    <div class="ui huge header">Sign Up</div>
        <div class="ui two column middle aligned very relaxed stackable grid">
            <div class="column">
                <form class="ui form" action="/register" method="post">
                    <div class="field">
                        <label>Username</label>
                        <input type="text" name="username" required>
                    </div>
                    <div class="field">
                        <label>Password</label>
                        <input type="password" name="password" required>
                    </div>
                    <div class="field">
                        <label>First Name</label>
                        <input type="text" name="firstName" required>
                    </div>
                    <div class="field">
                        <label>Last Name</label>
                        <input type="text" name="lastName" required>
                    </div>
                    <div class="field">
                        <label>E-mail</label>
                        <input type="email" name="email" required>
                    </div>
                    <div class="field">
                        <label>Avatar</label>
                        <input type="text" name="avatar">
                    </div>
                    <div class="field">
                        <label>Admin Code</label>
                        <input type="text" name="adminCode">
                    </div>
                        <button class="ui right labeled inverted primary icon button">Sign Up<i class="right user plus alternate icon"></i></button>
                    </form>
                </div>
            </div>
            <!--<div class="ui vertical divider">-->
            <!--      Or-->
            <!--</div>-->
            <!--<div class="center aligned column">-->
            <!--    <div class="ui big green labeled icon button">-->
            <!--      <i class="signup icon"></i>-->
            <!--      Sign Up-->
            <!--    </div>-->
            <!--</div>-->
        <a href="/blogs">Go Back</a>
</div>
<% include ./partials/footer %>